body{color: #364153;}
p{ color: #364153; margin: 0 0 26px;}
ul{list-style-type: disc; margin: 0 0 20px; padding: 0 0 0 15px}
ul li{ margin: 0 0 10px 0;}
h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

h1,h2,h3,h4,h5,h6{font-weight: var(--font-weight-semibold); margin-bottom: 10px;}
.site_logo{ margin-top: -2px;transform: translateY(-2px);}
.latest_3_box article{border-color: #ddd;}  
